In [140]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [141]:
#2024
df24_3 = pd.read_csv('indego-trips-2024-q3.csv')
df24_2 = pd.read_csv('indego-trips-2024-q2.csv')
df24_1 = pd.read_csv('indego-trips-2024-q1.csv')
df24 = pd.concat([df24_1, df24_2, df24_3], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2700248440.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df24_3 = pd.read_csv('indego-trips-2024-q3.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2700248440.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df24_2 = pd.read_csv('indego-trips-2024-q2.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2700248440.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df24_1 = pd.read_csv('indego-trips-2024-q1.csv')

In [142]:
#2023
df23_4 = pd.read_csv('indego-trips-2023-q4.csv')
df23_3 = pd.read_csv('indego-trips-2023-q3-2.csv')
df23_2 = pd.read_csv('indego-trips-2023-q2.csv')
df23_1 = pd.read_csv('indego-trips-2023-q1.csv')
df23 = pd.concat([df23_1, df23_2, df23_3, df23_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2869370722.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df23_4 = pd.read_csv('indego-trips-2023-q4.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2869370722.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df23_3 = pd.read_csv('indego-trips-2023-q3-2.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2869370722.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df23_2 = pd.read_csv('indego-trips-2023-q2.csv')

In [143]:
#2022
df22_4 = pd.read_csv('indego-trips-2022-q4.csv')
df22_3 = pd.read_csv('indego-trips-2022-q3.csv')
df22_2 = pd.read_csv('indego-trips-2022-q2.csv')
df22_1 = pd.read_csv('indego-trips-2022-q1.csv')
df22 = pd.concat([df22_1, df22_2, df22_3, df22_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/1407818546.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df22_4 = pd.read_csv('indego-trips-2022-q4.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/1407818546.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df22_3 = pd.read_csv('indego-trips-2022-q3.csv')

In [144]:
#2021
df21_4 = pd.read_csv('indego-trips-2021-q4.csv')
df21_3 = pd.read_csv('indego-trips-2021-q3.csv')
df21_2 = pd.read_csv('indego-trips-2021-q2.csv')
df21_1 = pd.read_csv('indego-trips-2021-q1.csv')
df21 = pd.concat([df21_1, df21_2, df21_3, df21_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/491899714.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df21_4 = pd.read_csv('indego-trips-2021-q4.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/491899714.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df21_3 = pd.read_csv('indego-trips-2021-q3.csv')
/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/491899714.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df21_2 = pd.read_csv('indego-trips-2021-q2.csv')

In [145]:
#2020
df20_4 = pd.read_csv('indego-trips-2020-q4.csv')
df20_3 = pd.read_csv('indego-trips-2020-q3.csv')
df20_2 = pd.read_csv('indego-trips-2020-q2.csv')
df20_1 = pd.read_csv('indego-trips-2020-q1.csv')
df20 = pd.concat([df20_1, df20_2, df20_3, df20_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/1314865740.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df20_3 = pd.read_csv('indego-trips-2020-q3.csv')

In [146]:
#2019
df19_4 = pd.read_csv('indego-trips-2019-q4.csv')
df19_3 = pd.read_csv('indego-trips-2019-q3.csv')
df19_2 = pd.read_csv('indego-trips-2019-q2.csv')
df19_1 = pd.read_csv('indego-trips-2019-q1.csv')
df19 = pd.concat([df19_1, df19_2, df19_3, df19_4], axis=0, ignore_index=True)

In [147]:
#2018
df18_4 = pd.read_csv('indego-trips-2018-q4.csv')
df18_3 = pd.read_csv('indego-trips-2018-q3.csv')
df18_2 = pd.read_csv('indego-trips-2018-q2.csv')
df18_1 = pd.read_csv('indego-trips-2018-q1.csv')
df18 = pd.concat([df18_1, df18_2, df18_3, df18_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/2978988597.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df18_4 = pd.read_csv('indego-trips-2018-q4.csv')

In [148]:
#2017
df17_4 = pd.read_csv('indego-quarter-echo.bicycletransit.com-2018-01-19-9-57 AM.csv')
df17_3 = pd.read_csv('indego-trips-2017-q3.csv')
df17_2 = pd.read_csv('indego_gbfs_trips_Q2_2017.csv')
df17_1 = pd.read_csv('indego_gbfs_trips_Q1_2017.csv')
df17 = pd.concat([df17_1, df17_2, df17_3, df17_4], axis=0, ignore_index=True)

In [149]:
#2016
df16_4 = pd.read_csv('Indego_trips_Q4_2016.csv')
df16_3 = pd.read_csv('Q3_2016_trips.csv')
df16_2 = pd.read_csv('Indego_Trips_2016Q2.csv')
df16_1 = pd.read_csv('Indego_Trips_2016Q1.csv')
df16 = pd.concat([df16_1, df16_2, df16_3, df16_4], axis=0, ignore_index=True)

In [150]:
#2015
df15_4 = pd.read_csv('Indego_Trips_2015Q4.csv')
df15_3 = pd.read_csv('Indego_Trips_2015Q3.csv')
df15_2 = pd.read_csv('Indego_Trips_2015Q2.csv')
df15 = pd.concat([df15_2, df15_3, df15_4], axis=0, ignore_index=True)

/var/folders/7r/1p6kjcd133s6g0q2q5hnww4c0000gn/T/ipykernel_37249/3491983075.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df15_3 = pd.read_csv('Indego_Trips_2015Q3.csv')

In [151]:
df18['start_time'] = pd.to_datetime(df18['start_time'])

In [152]:
df19['start_time'] = pd.to_datetime(df19['start_time'])

In [153]:
df20['start_time'] = pd.to_datetime(df20['start_time'])

In [154]:
df21['start_time'] = pd.to_datetime(df21['start_time'])

In [155]:
df22['start_time'] = pd.to_datetime(df22['start_time'])

In [156]:
df23['start_time'] = pd.to_datetime(df23['start_time'])

In [157]:
df24['start_time'] = pd.to_datetime(df24['start_time'])

In [158]:
df18['end_time'] = pd.to_datetime(df18['end_time'])

In [159]:
df19['end_time'] = pd.to_datetime(df19['end_time'])

In [160]:
df20['end_time'] = pd.to_datetime(df20['end_time'])

In [161]:
df21['end_time'] = pd.to_datetime(df21['end_time'])

In [162]:
df22['end_time'] = pd.to_datetime(df22['end_time'])

In [163]:
df23['end_time'] = pd.to_datetime(df23['end_time'])

In [164]:
df24['end_time'] = pd.to_datetime(df24['end_time'])

In [165]:
df = pd.concat([df18, df19, df20, df21, df22, df23, df24], axis=0, ignore_index=True)

In [181]:
df.dtypes

trip_id                         int64
duration                        int64
start_time             datetime64[ns]
end_time               datetime64[ns]
start_station                   int64
start_lat                     float64
start_lon                     float64
end_station                     int64
end_lat                       float64
end_lon                       float64
bike_id                        object
plan_duration                 float64
trip_route_category            object
passholder_type                object
bike_type                      object
start_date                     object
dtype: object

In [167]:
df.isnull().mean()*100

trip_id                0.000000
duration               0.000000
start_time             0.000000
end_time               0.000000
start_station          0.000000
start_lat              0.011497
start_lon              0.011497
end_station            0.000000
end_lat                1.428667
end_lon                1.428667
bike_id                0.000000
plan_duration          0.000115
trip_route_category    0.000000
passholder_type        0.007544
bike_type              4.951710
dtype: float64

In [180]:
df['start_date'] = df['start_time'].dt.date

In [169]:
df_count = df.groupby('start_date')['trip_id'].count()

In [171]:
df.to_csv('indego_18_to_24', index=False)

In [172]:
df.shape

(6070974, 16)

In [178]:
df.tail()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,start_date
6070969,1050279960,13,2024-09-30 23:55:00,2024-10-01 00:08:00,3033,39.950050,-75.156723,3061,39.954250,-75.177612,5323,30.0,One Way,Indego30,standard,2024-09-30
6070970,1050293367,19,2024-09-30 23:55:00,2024-10-01 00:14:00,3351,39.996552,-75.149910,3351,39.996552,-75.149910,18106,30.0,Round Trip,Indego30,electric,2024-09-30
6070971,1050268044,7,2024-09-30 23:56:00,2024-10-01 00:03:00,3114,39.937752,-75.180122,3032,39.945271,-75.179710,22428,365.0,One Way,Indego365,electric,2024-09-30
6070972,1050297763,56,2024-09-30 23:58:00,2024-10-01 00:54:00,3347,39.954842,-75.154488,3025,39.937241,-75.161201,11816,30.0,One Way,Indego30,standard,2024-09-30
6070973,1050296148,18,2024-09-30 23:59:00,2024-10-01 00:17:00,3210,39.984921,-75.156677,3210,39.984921,-75.156677,14689,30.0,Round Trip,Indego30,standard,2024-09-30

In [175]:
df['plan_duration'].unique()

array([ 30., 365.,   0.,   1.,   2.,  nan, 180., 240.])